<section id="{{ id }}" class='rb-utilities-section'
    data-label="{{ label }}"
    data-label-plural="{{ labelPlural }}"
    data-pull-message="{{ pullMessage }}"
    data-delete-message="{{ deleteMessage }}"
>
    <h2 data-icon="{{ icon }}">{{ "Remote " ~ labelPlural|t('remote-sync') }}</h2>
    <table class="data fullwidth rb-utilities-table rb-utilities-table--collapsed"
        data-list-action="{{ listAction }}"
        data-push-action="{{ pushAction }}"
        data-pull-action="{{ pullAction }}"
        data-delete-action="{{ deleteAction }}">
        <thead>
            <tr>
                <th>{{ "Date" | t("remote-backup") }}</th>
                <th>{{ "Time" | t("remote-backup") }}</th>
                <th>{{ "Environment" | t("remote-backup") }}</th>
                <th>{{ "Version" | t("remote-backup") }}</th>
                <th>{{ "Size" | t("remote-backup") }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="default-row template-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="thin">
                    <button class="btn small pull-button" title="{{ 'Pull and restore ' ~ label|lower|t }}">{{ 'Restore'|t }}</button>
                    <button class="btn small delete-button" title="{{ 'Delete ' ~ label|lower|t }}">{{ 'Delete'|t }}</button>
                </td>
            </tr>
            <tr class="default-row no-results-row">
                <td>
                    {{ "No " ~ labelPlural|t('remote-sync') }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="default-row errors-row">
                <td class="error">
                    {{ "Error Fetching " ~ labelPlural|t('remote-sync') }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="rb-show-all">
        <a href="#">{{ "Show All"|t('remote-sync') }}</a>
    </div>
    <form class="rb-utilities-form" method="post">
        {{ csrfInput() }}
        <div class='rb-utilities-submit'>
            <input
                class="btn submit {{ not disabled ? '' : 'disabled' }}"
                type="submit"
                value="{{ pushText }}"
                title="{{ pushTitle }}"
                {% if disabled %}disabled{% endif %}>
            <div class="utility-status"></div>
        </div>
    </form>
    <div class="rb-utilities-overlay">
        <div class="update-spinner spinner"></div>
    </div>
    {% block message %}{% endblock %}
</section>