{% requireAdmin %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') },
    { label: plugin.name, url: url('settings/plugins/' ~ plugin.id) }
] %}

{% set fullPageForm = true %}

{% extends "_layouts/cp" %}

{% set title = "Google Drive Authentication" %}
{% set docTitle = title ~ ' - ' ~ plugin.name ~ ' - ' ~ "Plugins"|t('app') %}

{% import "_includes/forms" as forms %}

{% block actionButton %}
{% endblock %}

{% block content %}
    <p>{{ "Access token successfully saved."|t }}</p>
    <p><a href="/admin/settings/plugins/remote-sync" class="btn submit">Back to settings</a></p>
{% endblock %}